<!DOCTYPE html>
<html lang="en" xmlns:th="hhtp://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="hhtp://www.thymeleaf.org
hhtp://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Apllication</title>
    <link rel="stylesheet" type="text/css" th:href=" @{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <h1>Welcome to Apllication!</h1>
    <a class="h2" th:href="@{/users}">Manage Users</a>
</div>
</body>
</html>